.vscode/

node_modules
data/
results/
results_tbl/
logs/
cursor/
figs/
ckpt/
wandb/

*.log
*.out
*.err
.env

**/*.pyc
**/.pytest_cache
*.ipynb
*.pyc

**/__pycache__
**/docs
**/.DS_Store
**/notebook
**/subtasks
**/.ipynb_checkpoints